﻿@using InterfacesLogic
@model PartijModel
@{
    ViewData["Title"] = "PartijAanpassen";
}

<h2>PartijAanpassen</h2>


<form asp-action="PartijAanpassen" asp-controller="Partij" id="UitslagFrom">

    <p>Selecteer de Partij die u aan wilt passen:</p>



    @{
        List<SelectListItem> listItems = new List<SelectListItem>();

        @foreach (IPartij item in ViewBag.partijen)
        {

            listItems.Add(new SelectListItem
            {
                Text = item.VoledigeNaam,
                Value = item.Id.ToString()
            });
        }

    }


    @Html.DropDownList("partijId", listItems)


    <p>Orde afkorting: <input asp-for="Orde" type="text" /></p>
    <p>Volledige naam: <input asp-for="VoledigeNaam" type="text" /></p>
    

    <p>@ViewBag.AanpasData</p>

    <p><input type="submit" name="Ophalen" text="Veranderen" /></p>
</form>