﻿@model PartijModel

@{
    ViewData["Title"] = "PartijToevoegen";
}

<h2>PartijToevoegen</h2>

<form asp-action="PartijToevoegen" asp-controller="Partij">
    <p>Afkorting: <input asp-for="Orde" type="text" /></p>
    <p>Volledige Naam: <input asp-for="VoledigeNaam" type="text" /></p>

    <p><input type="submit" name="Create" /></p>

    <p>@ViewBag.PartijData</p>

</form>