﻿@model UitslagModel
@{
    ViewData["Title"] = "ToevoegenUitslag";
}

<h2>ToevoegenUitslag</h2>

<form asp-action="ToevoegenUitslag" asp-controller="Uitslag">
    <p>Naam: <input asp-for="Naam" type="text" /></p>
    <p>Datum: <input asp-for="Datum" type="date" /></p>
    <p>Aantal zetels: <input asp-for="ZetelAantal" type="number" /></p>

    <p><input type="submit" name="Create" /></p>

    <p>@ViewBag.UitslagData</p>

</form>