﻿@using InterfacesLogic
@model UitslagModel

@{
    ViewData["Title"] = "UitslagAanpassen";
}

<h2>UitslagAanpassen</h2>

<form asp-action="UitslagAanpassen" asp-controller="Uitslag" id="UitslagFrom">

    <p>Selecteer de Uitslag die u wilt zien:</p>



    @{
        List<SelectListItem> listItems = new List<SelectListItem>();

        @foreach (IUitslag item in ViewBag.Uitslagen)
        {

            listItems.Add(new SelectListItem
            {
                Text = item.Naam,
                Value = item.Id.ToString()
            });
        }

    }


    @Html.DropDownList("uitslagId",listItems)

    
    <p><input asp-for="Naam" type="hidden" name="uitslagId"/></p>
    <p>Naam: <input asp-for="Naam" type="text" /></p>
    <p>Datum: <input asp-for="Datum" type="date" /></p>
    <p>Aantal zetels: <input asp-for="ZetelAantal" type="number" /></p>
    
    <p>@ViewBag.AanpasData</p>

    <p><input type="submit" name="Ophalen" text="Veranderen"/></p>
</form>