﻿@using InterfacesLogic
@using Microsoft.EntityFrameworkCore.Internal
@model VerkiezingModel

@{
    ViewData["Title"] = "UitslagTonen";
}

<h2>UitslagTonen</h2>

<form asp-action="UitslagTonen" asp-controller="Uitslag" id="UitslagFrom">

    <p>Selecteer de Uitslag die u wilt zien:</p>



    @{
        List<SelectListItem> listItems = new List<SelectListItem>();

        @foreach (IUitslag item in ViewBag.Uitslagen)
        {

            listItems.Add(new SelectListItem
            {
                Text = item.Naam,
                Value = item.Naam
            });
        }

    }


    @Html.DropDownList("uitslagNaam", listItems)


    <p><input type="submit" name="s" text="Ophalen" value="HaalVerkiezingenOp" /></p>

    @if (ViewBag.Verkiezingen != null)
    {


        <table class="table">
            <thead>
                <tr>

                    <th>
                        Orde
                    </th>
                    <th>
                        Voledige naam
                    </th>
                    <th>
                        Orde trekker
                    </th>
                    <th>
                        Stemmen
                    </th>
                    <th>
                        Percentage
                    </th>
                    <th>
                        Zetels
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (IVerkiezing item in ViewBag.Verkiezingen)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Partij.Orde)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Partij.VoledigeNaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrdeTrekker)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stemmen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Percentage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zetels)
                        </td>
                        <td>


                            <input asp-for="Stemmen" type="hidden" value="@item.Stemmen" />
                            <input asp-for="Percentage" type="hidden" value="@item.Percentage" />
                            <input asp-for="Zetels" type="hidden" value="@item.Zetels" />



                            <input type="hidden" value="@item.Partij.Id" name="uitslagId" />
                            <input type="hidden" value="@item.Partij.Orde" name="orde" />
                            <input type="hidden" value="@item.Partij.VoledigeNaam" name="volledigeNaam" />
                            <input type="hidden" value="@item.OrdeTrekker" name="ordeTrekker" />

                            @*@Html.ActionLink("Uitslag", "UitslagTonen",@item)*@

                            <input type="submit" name="submit" text="VoegToe" value="@item.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <p>Coalitie</p>

    @if (ViewBag.Coalitie != null)
    {
        <table class="table">
            <thead>
                <tr>

                    <th>
                        Orde
                    </th>
                    <th>
                        Voledige naam
                    </th>
                    <th>
                        Orde trekker
                    </th>
                    <th>
                        Stemmen
                    </th>
                    <th>
                        Percentage
                    </th>
                    <th>
                        Zetels
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (IVerkiezing verkiezing in ViewBag.Coalitie)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => verkiezing.Partij.Orde)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => verkiezing.Partij.VoledigeNaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => verkiezing.OrdeTrekker)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => verkiezing.Stemmen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => verkiezing.Percentage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => verkiezing.Zetels)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <input type="text" name="doesListHaveItems" text="items" value="@ViewBag.Coalitie" />
    }

    <input type="submit" name="clearCoalitie" text="VoegToe" value="clear" />

</form>


